<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347296354021-3kk05tg49il0a92st441vmk76s0vccog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347296354021-3kk05tg49il0a92st441vmk76s0vccog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347296354021-6euqql8brrk4smtvrudp3kp7muj66ekp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl6_Hebk3RQe98RwGNC1IqKiWmv1Izoks</string>
	<key>GCM_SENDER_ID</key>
	<string>347296354021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>XiaoLee.mobile</string>
	<key>PROJECT_ID</key>
	<string>xiaolee-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>xiaolee-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347296354021:ios:b0dd798445544269bf8e0c</string>
</dict>
</plist>